<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Doggos</title>
    <link href='/src/styles/css/bootstrap.min.css' rel="stylesheet"/>
    <link href='/src/styles/css/signin.css' rel="stylesheet"/>
  </head>
  <body>
