<%- include('headers'); -%>
    <%- include('container'); -%>

        <body class="u-body">
            <link rel="stylesheet" href="styles.css" media="screen">
            <link rel="stylesheet" href="Home.css" media="screen">
            <!-- Causes Ugly Nav Bar -->
            <link href='/src/styles/css/styles.css' rel="stylesheet" />

            <link href='/src/styles/css/Home.css' rel="stylesheet" />
            <section class="u-clearfix u-white u-section-1" id="carousel_a7e8">
                <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
                    <img class="u-image u-image-default u-image-1" src="/src/styles/image1.jpg" alt=""
                        data-image-width="612" data-image-height="408">
                    <img class="u-border-20 u-border-white u-image u-image-default u-image-2"
                        src="/src/styles/image2.jpg" alt="" data-image-width="612" data-image-height="408">
                    <div class="u-align-left u-container-style u-grey-5 u-group u-group-1">
                        <div class="u-container-layout u-container-layout-1">
                            <h2 class="u-text u-text-1">About Us</h2>
                            <p class="u-text u-text-2">Welcome to Doggos, our mission is to help lonely pet owners match
                                their pets with others, maintaining a healthy relationship with the owners as well
                                as their pets. Get started by clicking the one of the buttons below.&nbsp;</p>
                            <a href="/signup" style="margin: auto;"
                                class="u-active-grey-60 u-black u-border-none u-btn u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-hover-grey-60 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-1">Signup</a><br>
                            <a href="/login" style="margin: auto;"
                                class="u-active-grey-60 u-black u-border-none u-btn u-button-style u-color-scheme-summer-time u-color-style-multicolor-1 u-hover-grey-60 u-text-active-white u-text-body-alt-color u-text-hover-white u-btn-2">Login</a>
                        </div>
                    </div>
                </div>
            </section>
        </body>
        <%- include('endcontainer'); -%>
            <%- include('footers'); -%>