.Header {
    font-size: 60px;
    margin: auto;
    width: 50%;
    top: 20%;
    text-align: center;
  }
  .center {
    margin: auto;
    width: 10%;
    text-align: left;
    clear: both;
    float:left;
    padding-left: 0%;
  }
  input[type=text] {
    width: 45%;
    padding: 15px 5px;
    font-size: 20px;
    display: flex;
    border: 1px solid black;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    border-radius: 25px;
  }
  .greenbox {
    background-color: #ADE798;
    padding: 5%;
    width: 70%;
    height: 80%;
    position: center;
    margin: auto;
    border-radius:25px;
  }
  #circle {
    background: black;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    z-index: -1;
    position: absolute;
  }
  .saveprofilebutton { 
    float: right;
    color: white;
    background-color: #468C40;
    border-radius: 25px;
    height: 10%;
    width: 20%;
    font-size: 20px;
  }