.u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 983px;
}

.u-section-1 .u-image-1 {
  width: 514px;
  height: 628px;
  margin: 67px auto 0 0;
}

.u-section-1 .u-image-2 {
  width: 554px;
  height: 420px;
  margin: -199px auto 0 205px;
}

.u-section-1 .u-group-1 {
  min-height: 476px;
  width: 496px;
  margin: -823px 0 407px auto;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px;
}

.u-section-1 .u-text-1 {
  line-height: 52.8px;
  font-family: "Fjalla One";
  font-size: 2.25rem;
  margin: 28px 291px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.25rem;
  margin: 18px 0 0;
}

.u-section-1 .u-btn-1 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: 25px auto 0 28px;
  padding: 14px 42px 15px 41px;
}

.u-section-1 .u-btn-2 {
  letter-spacing: 3px;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1.125rem;
  background-image: none;
  border-style: none;
  margin: -58px 54px 0 auto;
  padding: 14px 42px 15px 41px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 990px;
  }

  .u-section-1 .u-image-1 {
    width: 426px;
    height: 545px;
  }

  .u-section-1 .u-image-2 {
    height: 421px;
  }

  .u-section-1 .u-group-1 {
    min-height: 502px;
    width: 402px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 197px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 955px;
  }

  .u-section-1 .u-image-1 {
    width: 334px;
    height: 503px;
  }

  .u-section-1 .u-image-2 {
    margin-left: auto;
  }

  .u-section-1 .u-group-1 {
    min-height: 503px;
    width: 349px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 144px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1205px;
  }

  .u-section-1 .u-image-1 {
    margin-top: 65px;
  }

  .u-section-1 .u-image-2 {
    width: 493px;
    height: 397px;
    margin-top: 175px;
    margin-left: 0;
  }

  .u-section-1 .u-group-1 {
    min-height: 534px;
    margin-top: -848px;
    margin-bottom: 60px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 1148px;
  }

  .u-section-1 .u-image-1 {
    width: 287px;
    height: 449px;
    margin-top: 67px;
  }

  .u-section-1 .u-image-2 {
    width: 340px;
    height: 274px;
    margin-top: 305px;
  }

  .u-section-1 .u-group-1 {
    min-height: 517px;
    width: 275px;
    margin-top: -725px;
    margin-bottom: 268px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-1 .u-text-1 {
    line-height: 1.2;
    margin-right: 90px;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.125rem;
  }

  .u-section-1 .u-btn-1 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-right: 0;
  }
}